body * {
  display: none !important;
}

body::before {
  content: "⚠ WARNING";
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  color: #ff2a2a;
  text-align: center;
  z-index: 999999;
  display: block;
}

body::after {
  content: "This website is disabled. bicouse the site admin t.me/@Filmypro99 didnt pay acurate price and scammed the dev t.me/dhanjeerider msg to admin to clear due";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #fff;
  background: #000;
  padding: 15px 25px;
  border-radius: 8px;
  text-align: center;
  z-index: 999999;
  display: block;
}
